/* src/app/components/Navbar.css */

.navbar {
  background: linear-gradient(to bottom, #db020293, #620000);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(63, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  width: 100%;
}

.div02 {
  font-size: 18px;
  font-weight: bold;
  
}

.div03 {
  display: flex;
 
}

.ul01 {

  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.ul01 li {
  margin: 0;
}

.ul01 a {
  text-decoration: none;
  color: aliceblue;
  font-size: 14px;
}

.menu button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 2%;
}
