/* src/app/Home.module.css */

.backgroundPage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;;
}

.info-page1 {
  display: flex;
  align-items: center ;
}
.image-page-container {
  width: 100%;
  height: 200px; /* Defina a altura desejada */
  display: block;
  position: relative; /* Necessário para que a imagem ocupe o tamanho da div */
}

.image-page-container img {
  object-fit: cover; /* Ajusta a imagem para cobrir o espaço da div */
  width: 100%;
  height: 100%;
}
/* Adiciona um overlay para escurecer a imagem e manter a legibilidade */
.backgroundPage::before {
  content: ""; 
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363); /* Mantém o efeito de escurecimento */
}

.banner {
  position: relative; /* Garante que o conteúdo fique acima do overlay */
  z-index: 1;
}

.banner h1 {
  color: white;
  font-size: 2.5em;
  margin: 0;
}

.banner p {
  font-size: 1.2em;
  margin: 10px 0;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.socialIcons p {
  margin-right: 10px;
}

.socialIcons a {
  margin: 0 10px;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

.socialIcons a:hover {
  color: #f0f0f0;
}

/* Responsividade */
@media (max-width: 768px) {
  .banner h1 {
    font-size: 2em;
  }

  .banner p {
    font-size: 1em;
  }

  .socialIcons a {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .banner h1 {
    font-size: 1.5em;
  }

  .banner p {
    font-size: 0.9em;
  }

  .socialIcons a {
    font-size: 1em;
  }
}
