

.container {
    max-width: 100%;
    overflow-y: auto; /* Permite rolagem vertical */
    padding: 20px;
    min-height: 100vh; /* Garante que o contêiner ocupe a altura total da tela */
}
p {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333; /* Cor do texto */
}
.image-gallery-1, .image-gallery-2 {   
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas */
    gap: 20px; /* Espaçamento entre as imagens */
    justify-items: center; /* Centraliza as imagens dentro das células */
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333; /* Cor do texto do título */
}

.image-gallery {
    display: flex;
    flex-direction: column; /* As imagens ficam empilhadas verticalmente */
    align-items: center;
}

.image-container {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Animação suave ao passar o mouse */
}

.image-container:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho ao passar o mouse */
}

.image {
    width: 100%;
    max-width: 600px; /* Define um tamanho máximo para as imagens */
    height: auto;
    border-radius: 10px; /* Bordas arredondadas nas imagens */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .image {
        max-width: 100%; /* Imagens ocupam 100% da largura disponível em telas pequenas */
    }
    .image-gallery-1, .image-gallery-2 {   
        margin-right: 2%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        gap: 20px; /* Espaçamento entre as imagens */
    }
    
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    .image-gallery-1, .image-gallery-2 {   
        margin-right: 2%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        gap: 20px; /* Espaçamento entre as imagens */
    }
    
}
